<app-sub-brand [title]="courseInfo.name" bacImgUrl="/assets/img/main/teachers.jpg"></app-sub-brand>

<div class="course-detail container">
  <h3>{{courseInfo.name}}</h3>
  <div class="course-desc">
    <p>{{courseInfo.describe}}</p>
  </div>
  <div class="teahcers-con">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <app-common-card [fontSize]="8" desc="这是描述这是描述这是描述这是描述这是描述这是描述" imgUrl="http://via.placeholder.com/300x300" title="Monkey"></app-common-card>
        </div>
        <div class="col-2">
          <app-common-card [fontSize]="8" desc="这是描述这是描述这是描述这是描述这是描述这是描述" imgUrl="http://via.placeholder.com/300x300" title="Monkey"></app-common-card>
        </div>
        <div class="col-2">
          <app-common-card [fontSize]="8" desc="这是描述这是描述这是描述这是描述这是描述这是描述" imgUrl="http://via.placeholder.com/300x300" title="Monkey"></app-common-card>
        </div>
        <div class="col-2">
          <app-common-card [fontSize]="8" desc="这是描述这是描述这是描述这是描述这是描述这是描述" imgUrl="http://via.placeholder.com/300x300" title="Monkey"></app-common-card>
        </div>
        <div class="col-2">
          <app-common-card [fontSize]="8" desc="这是描述这是描述这是描述这是描述这是描述这是描述" imgUrl="http://via.placeholder.com/300x300" title="Monkey"></app-common-card>
        </div>
        <div class="col-2">
          <app-common-card [fontSize]="8" desc="这是描述这是描述这是描述这是描述这是描述这是描述" imgUrl="http://via.placeholder.com/300x300" title="Monkey"></app-common-card>
        </div>

      </div>
    </div>
  </div>
</div>
