@import "~assets/css/common";

.pro-list-card {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: px2rem(25px);
  color: #ffffff;
  .img-con {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .list-card-info {
    margin-top: px2rem(35px);
    text-align: center;
    & > div {
      text-align: center;
    }
    .card-link {
      display: inline-block;
      color: white;
      &:hover .card-title {
        text-decoration: underline;
      }
    }
    .card-subtitle {
      font-size: px2rem(17px);
    }
    .card-title {
      font-size: px2rem(28px);
    }

    button {
      cursor: pointer;
      background-color: inherit;
      border: px2rem(2px) solid #ffffff;
      padding: px2rem(13px) px2rem(19px);
      color: inherit;
      font-size: px2rem(14px);
      &:hover {
        color: #222222;
        background-color: #FFF;
      }
    }
  }

}
