<div class="footer ">
  <div class="footer-info container">
    <div class="row">
      <div class="col-4 footer-info-left">
        <div class="footer-brand">
          <img src="../assets/img/main/footer-white-logo.png" alt="">
        </div>
        <div class="footer-contact">
          <p> 434 Ave of the Americas 5th floor, NY NY 10011</p>
          <p> 888.438.3808</p>
          Fax<p> +1 646.786.4893</p>
          <br>
          <p> Customer Service and Support</p>
          <p>support@joffreyballetschool.com </p>
          <br>
          <p> Customer Service and Support</p>
          <p>support@joffreyballetschool.com </p>
          <div class="social-icons">
            <h4>FOLLOW US ONLINE</h4>
            <div class="icons-con">
              <ul>
                <li>
                  <a href="#"><img src="../assets/img/main/socialIcons/twitter.png" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/main/socialIcons/twitter.png" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/main/socialIcons/twitter.png" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/main/socialIcons/twitter.png" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/main/socialIcons/twitter.png" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
          <h4>JOIN OUR MAILING LIST</h4>
          <div class="signup-button-con">
            <button>Sign Up Now</button>
          </div>
          <p>For Email Marketing you can trust.</p>
        </div>
      </div>
      <div class="col-4 offset-3">
        <h4>OFFICIAL DANCE NEWS SOURCE</h4>
        <div class="img-con">
          <img src="../assets/img/main/footerImg.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <div class="container">
      <p>Copyright © Joffrey Ballet School. All Rights Reserved.</p>
    </div>
  </div>
</div>
