<div class="banner-con container-fluid clearfix">
  <app-carousel></app-carousel>
</div>
<div class="services-info container-fluid">
  <div class="si-top container">
    <div class="si-top-row si-top-row1 row">
      <div class="top-row-elem top-row1-elem col">
        <div class="row1-elem-top">
          <div class="row-elem-title"><p>SUMMER PROGRAMS</p></div>
          <div class="row-elem-info"><span>AGES 8 – 25</span></div>
        </div>
        <div class="row1-elem-bottom">
          <div>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="top-row-elem top-row1-elem col">
        <div class="row1-elem-top">
          <div class="row-elem-title"><p>SUMMER PROGRAMS</p></div>
          <div class="row-elem-info"><span>AGES 8 – 25</span></div>
        </div>
        <div class="row1-elem-bottom">
          <div>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="si-top-row si-top-row2 row">
      <div class="top-row-elem top-row2-elem col-4">
        <div class="row-elem-title"><p>SCHOLARSHIPS</p></div>
      </div>
      <div class="top-row-elem top-row2-elem col-4">
        <div class="row-elem-title"><p>AUDITION RESULTS</p></div>
      </div>
      <div class="top-row-elem top-row2-elem col-4">
        <div class="row-elem-title"><p>AUDITIONS OVERVIEW</p></div>
      </div>
    </div>
  </div>
  <div class="si-middle container-fluid">
    <div class="pro-list row">
      <app-pro-list-card *ngFor="let course of defaultCourses" CardType="index" imgUrl="../assets/img/main/proList/cp1.jpg" [title]="course.name"  class="pro-listcard col-3" [cardColor]="course.color"></app-pro-list-card>

    </div>
  </div>
  <div class="school-intro-con">
    <div class="school-intro container">
      <div class="row">
        <div class="intro-info col-lg-6 col-xs-12 col-md-12">
          <h2>Beiqi Art School</h2>
          <div class="class-list">
            <ul>
              <li>a</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
              <li>e</li>
            </ul>
          </div>
          <div class="intro-content">
            <p>The Joffrey Ballet School is the only ballet school in New York City that offers a well-rounded dance curriculum that includes serious training in both classical ballet (technique, pointe, variations, adagio, men’s classes) and contemporary ballet (technique, improvisation, partnering), as well as modern, character, choreography, dance history, music, pilates and yoga. Special workshops are taught by guest faculty to augment the curriculum. All dance classes have live piano accompaniment, and live cello and percussion accompaniment is used in some contemporary and modern classes.</p>
          </div>
          <div class="intro-address">
            Address: <p>434 Ave of the Americas 5th floor, NY NY 10011</p>
          </div>
          <div class="contact-info">
            Contact #: <p>+1 888.438.3808</p>
          </div>
          <div class="intro-button-con">
            <button> Click here to learn more about our programs</button>
          </div>
        </div>
        <div class="map-con col-6 d-none d-lg-block">
          <img src="../assets/img/main/map.png" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="sl-bottom container-fluid">
    <div class="row h-100">
      <div class="col-3" style="background-color: rgb(185,126,187)">
        <a href="">
          Children's Ballet Classes
          <br>
          Ages 2 – 7
        </a>
      </div>
      <div class="col-3" style="background-color: rgb(90,161,227)">
        <a href="">
          Children's Ballet Classes
          <br>
          Ages 2 – 7
        </a>
      </div>
      <div class="col-3" style="background-color: rgb(111,195,84)">
        <a href="">
          Children's Ballet Classes
          <br>
          Ages 2 – 7
        </a>
      </div>
      <div class="col-3" style="background-color: rgb(106,125,196)">
        <a href="">
          Children's Ballet Classes
          <br>
          Ages 2 – 7
        </a>
      </div>
    </div>
  </div>
</div>
