<div class="m-header container-fluid">
  <div class="h-top">
    <div class="h-top-cards">
      <div class="h-top-cards-con">
          <a href="" class="top-card-active">
            Joffrey Ballet School
          </a>
          <a href="">
            Dance Informa
          </a>
          <a href="">
            more
          </a>
      </div>
    </div>
    <div class="h-top-infos">
      <div class="contact-info">
        <a href="">BeiqiArt.com</a>
        <a href="">88888888</a>
        <span>|</span>
        <a href="">About Us</a>
      </div>
      <div class="social-icons">
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="h-bottom">
    <div class="brand-con">
      <div class="brand"><a href=""><img class="img-fluid" [src]="'assets/img/main/logo.png'" alt=""></a></div>
      <div class="h-bottom-slideCards">
        <app-menu-button *ngFor="let item of menuList" [title]="item.title" [url]="item.url"></app-menu-button>

      </div>
    </div>
  </div>
</div>
