@import "~assets/css/common";

.menu-button{
  display: inline-block;
  position: relative;
  vertical-align: top;
  .menu-title{
    display: inline-block;
    height: 100%;
    color: #222222;
    cursor: pointer;
    padding: px2rem(18px);
    font-size: px2rem(18px);
    &:hover + .menu-list-con{
      display: block;
    }
  }
  .menu-list-con{
    z-index: 1;
    display: none;
    width: px2rem(210px);
    position: absolute;

    &:hover{
      display: block;
    }
    .menu-list{
      background-color: rgb(74, 74, 74);
      border: px2rem(1px) solid black;
      padding: px2rem(2px) 0;
      li:nth-child(n+2){
        border-top: 1px solid black;
      }
      li a{
        display: inline-block;
        height: 100%;
        width: 100%;
        line-height: px2rem(20px);
        padding: px2rem(8px) 0 px2rem(8px) px2rem(12px);
        font-size: px2rem(11px);
        text-transform: uppercase;
        letter-spacing: px2rem(1px);
        color: #ffffff;

        &:hover{
          background-color: rgb(90, 161, 227);
        }
      }
    }
  }

}
