@mixin hover($sheets:(), $duri: .7s) {
  transition: all $duri ease;
  &:hover{
    @each $header, $number in $sheets {
      #{$header}:$number;
    }
  }
}

@mixin childColors($childNum) {
  $fullColor: 255;
  @for $i from 1 through $childNum {
    .col-4:nth-child(#{$i}) {
      $thisColor:$fullColor / ($i + 1);
      background-color: rgb($thisColor,$thisColor,$thisColor);
    }
  }
}

.videos-parent{
  .row{
    .col-4{
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        padding: 25px 35px;
        text-decoration: none;
      }

    }
    @include childColors(3)
  }

  h2,p{
    @include hover((opacity: 0.7), .4s)
  }
}

.video-list{
  padding: 90px;
}
